
{% extends 'base.html' %}
{% block title %}About{% endblock %}

{% block content %}
<div class="row">
    {% for etkinlik in current_user.etkinliks %}
        <div class="col-lg-4">
            <div class="ticket-item">
                <div class="thumb">
                    <img src="/static/assets/images/ticket-01.jpg" alt="">
                </div>
                <div class="down-content">
                    <h4>{{ etkinlik.etkinlik_ad }}</h4>
                    <ul>
                        <li><i class="fa fa-clock-o"></i> {{ etkinlik.etkinlik_tarih }} {{ etkinlik.etkinlik_baslangic_saati }}:00 to {{ etkinlik.etkinlik_bitis_saati }}:00</li>
                        <li><i class="fa fa-map-marker">{{ etkinlik.etkinlik_yeri }}</i></li>
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
