
{% extends 'base.html' %}
{% block title %}Tickets{%endblock%}

{%block content%}

    <!-- ***** About Us Page ***** -->
    <div class="page-heading-shows-events">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Tickets On Sale Now!</h2>
                    <span>Check out upcoming and past shows & events and grab your ticket right now.</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="tickets-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="search-box">
                        <form id="subscribe" action="{{ url_for('tickets_filtered') }}" method="post">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="search-heading">
                                        <h4>Sort The Upcoming Shows & Events By:</h4>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <select name="month">
                                                <option value="Month">Month</option>
                                                <option value="September">September</option>
                                                <option value="October">October</option>
                                                <option value="November">November</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <select name="location">
                                                <option value="Location">Location</option>
                                                <option value="Radio City Musical Hall">Radio City Musical Hall</option>
                                                <option value="Royce Hall">Royce Hall</option>
                                                <option value="Madison Square Garden">Madison Square Garden	</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <fieldset>
                                                <button type="submit" id="form-submit" class="main-dark-button">Submit</button>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="heading">
                        <h2>Tickets Page</h2>
                    </div>
                </div>

                {% for event in events %}
                <div class="col-lg-4">
                    <div class="ticket-item">
                        <div class="thumb">
                            <img src="/static/assets/images/ticket-01.jpg" alt="">
                            <div class="price">
                                <span>1 ticket<br>from <em>${{event.bilet_id*45}}</em></span>
                            </div>
                        </div>
                        <div class="down-content">
                            <span>There Are {{event.kapasite}} Tickets Left For This Show</span>
                            <h4>{{event.etkinlik_ad}}</h4>
                            <ul>
                                <li><i class="fa fa-clock-o"></i> {{event.etkinlik_tarih}} {{event.etkinlik_baslangic_saati}}:00 to {{event.etkinlik_bitis_saati}}:00</li>
                                <li><i class="fa fa-map-marker"></i>{{event.etkinlik_yeri}}</li>
                            </ul>
                            <div class="main-dark-button">
                                <a href="#" onclick="purchaseTicketsDetails('{{ event.etkinlik_ad }}')">Purchase Tickets for Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                
                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li><a href="#">Prev</a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {%endblock%}
